body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;  
}

footer {
    display: flex;
    flex-direction: column;
    color: #f9f6fd;
    margin-top: auto; /* Esto empuja el footer hasta abajo */
}

.redes {
    display: flex;
    justify-content: space-around;
    background-color: #522e61;
    padding: 20px; /* Ajusta el relleno para hacerlo más grande */
}

.redes a {
    color: #f9f6fd;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.redes a i {
    margin-left: 10px; /* Ajusta el espacio entre el texto y el icono */
}

.copyright {
    background-color: #31143e;
    padding: 20px; /* Ajusta el relleno para hacerlo más grande */
    text-align: center;
}

.copyright p {
    margin: 0;
}


.icon-btn img {
    width: 20px;
    height: 20px;
    margin-right: 5px; /* Ajusta el valor según tus necesidades */
  }
  


/* Cambiar el color del header */
nav.navbar {
    background-color: #541197; /* Puedes cambiar el color aquí */
}
.navbar-brand img {
    width: 10%; /* Puedes ajustar el valor según tus necesidades */
    height: auto; /* Esto asegura que la altura se ajuste proporcionalmente al ancho */
}

/* Estilos para el tema claro */
body.light-mode {
    background-color: #ffffff; /* Fondo claro */
    color: #000000; /* Texto oscuro */
}

/* Estilos para el tema oscuro */
body.dark-mode {
    background-color: #1f2430; /* Fondo oscuro */
    color: #ffffff; /* Texto claro */
}
/* Estilos para el switch */
.custom-control-input {
    display: none; /* Oculta el input checkbox por defecto */
}

.custom-control-label {
    position: relative;
    padding-left: 2em; /* Ajusta el espacio para el switch */
    cursor: pointer;
}

.custom-control-label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5em;
    height: 1em;
    background-color: #ddd; /* Color de fondo cuando está en "no" */
    border-radius: 0.75em; /* Forma redondeada */
    transition: background-color 0.3s;
}

.custom-control-input:checked + .custom-control-label:before {
    background-color: #5bdea1; /* Color de fondo cuando está en "sí" */
}

.estudiando {
    text-align: center; /* Alinea el contenido al centro */
}

.estudiando img {
    display: block; /* Elimina el espacio extra por debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}


main {
    /* Agrega espacio entre el encabezado y la imagen */
    margin-top: 50px; /* Puedes ajustar el valor según sea necesario */
}



.card {
    max-width: 70%; /* Ajusta el ancho máximo de la tarjeta según sea necesario */
    background-color: #F3E5F5;
    margin: 0 auto; /* Centra la tarjeta en el contenedor */
}

.block {
    width: 100%; /* Hace que los bloques ocupen el 100% del ancho de la tarjeta */
    background-color: #E1BEE7;
    cursor: pointer;
    padding: 10px 0px;
}

.first-block {
    border-bottom-left-radius: 5px;
}

.last-block {
    border-bottom-right-radius: 5px;
}

.block.active, .block:hover {
    background-color: #CE93D8;
}

.city-symbol {
    max-width: 100%; /* Ajusta el ancho máximo del símbolo de la ciudad */
    height: auto; /* Mantiene la proporción original de la imagen */
}

.large-font {
    font-size: 2rem; /* Ajusta el tamaño de la fuente del número grande */
}

.symbol-img {
    width: 30px; /* Ajusta el tamaño de las imágenes de los símbolos */
    height: 30px;
}

@media screen and (max-width: 400px) {
    .card {
        width: 92%;
    }
}

.small-font {
    font-size: 100%; /* Ajusta el tamaño según tus preferencias */
  }
  




  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
  
  .boujee-text {
    --bg-size: 400%;
    --color-one: #fbff00;
    --color-two: #6f20a9;
    font-size: clamp(3rem, 25vmin, 8rem);
    background: linear-gradient(
                  90deg,
                  var(--color-one),
                  var(--color-two),
                  var(--color-one)
                ) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 30s infinite linear; /* Ajusta la duración (16s en este caso) */
    font-size: 600%; 
    margin-top: 20px; 
    text-align: center;
}
  
  @media (prefers-reduced-motion: no-preference) {
    .boujee-text {
      animation: move-bg 30s linear infinite; 
    }
  }
  

  #recursos {
    /* background-color: #922424;  */
    text-align: center;
    /* padding: 20px 0; Espacio arriba y abajo */
}

#recursos h1 {
    padding: 20px 0; /* Espacio arriba y abajo */
    color: purple; /* Color morado */
    margin: 20px 0; /* Espacio arriba y abajo para el título */
    font-size: 400%;
}

#nosotros {
    /* background-color: #922424;  */
    text-align: center;
    /* padding: 20px 0; Espacio arriba y abajo */
}


#nosotros h1 {
    padding: 20px 0; /* Espacio arriba y abajo */
    color: purple; /* Color morado */
    margin: 20px 0; /* Espacio arriba y abajo para el título */
    font-size: 400%;
}


.exercise-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px; /* Ajusta según sea necesario */
    z-index: 1; /* Asegúrate de que el ejercicio esté encima */
  }
  
  
  #exercise {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
 
a {
    text-decoration: none; /* Elimina el subrayado */
    color: #75756f;
}

a:hover {
    /* Opcional: Estilo cuando el mouse está sobre el enlace */
    text-decoration: underline; /* Subrayado al pasar el mouse */
    color: rgb(226, 240, 41); /* Cambia el color al pasar el mouse (puedes personalizar esto) */
}



#nosotros {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

#nosotros h1 {
    color: purple;
    text-align: center;
}

#descripcion-nosotros {
    margin-bottom: 20px;
}

#descripcion-nosotros p {
    text-align: justify;
    line-height: 1.6;
}

#descripcion-nosotros ul {
    list-style-type: none;
    padding: 0;
}

#descripcion-nosotros li {
    margin-bottom: 8px;
}

#sobre-los-autores {
    border-top: 2px solid #ccc;
    padding-top: 20px;
}

#sobre-los-autores h2 {
    color:purple;
}

#sobre-los-autores p {
    text-align: justify;
    line-height: 1.6;
}

strong {
    color: #333;
}







body {
    padding-top: 70px; /* Ajusta el valor según sea necesario para evitar la superposición del encabezado */
}

.tittle {
    margin-top: 100px; /* Ajusta el valor según sea necesario para establecer el margen superior del título principal */
}



#tituloPrincipal {
    text-align: center; /* Centrar el texto */
    color: purple; /* Color morado */
}

.indicaciones {
    text-align: center; /* Centrar el texto */
    color: purple; /* Color morado */
}

/* estilos.css */

/* Establecer un ancho máximo para la imagen */
.rompe{
    max-width: 30%; /* La imagen no será más ancha que su contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
}

/* Puedes ajustar el tamaño de la imagen según tus necesidades */
