<footer class="text-center">
 <div class="redes">
    <a href="mailto:tu@email.com" class="icon-btn">Contacto:</a>
    <a href="mailto:lurbayonm523@gmail.com,elpelos@outlook.com" class="icon-btn">
        <img src="img/correo1.png" alt="Email Icon">
      </a>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
     
  </div>
  <div class="copyright">
      <p>&copy; 2023 Eleva tus conocimientos. Todos los derechos reservados.</p>
  </div>
</footer>